<h1>SANDYA'S APPLICATION</h1>


    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" routerLink="logo">LOGO</a>
      
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home">HOME</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="categories">CATEGORIES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="more">MORE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">CONTACT</a>
          </li>
        </ul>
      </nav>
      <br><br>
      <h2>WELCOME
      <p><small>LEARNING IS ENDLESS</small></p></h2>
      
      <router-outlet></router-outlet>
      