h1{
    text-align: center;
    background-color: aqua;
    color: blue;
}
h2{
    text-align: center;
    background-color: blueviolet;
    color:cyan;
}
p{
    text-align: center;
    background-color: blueviolet;
    color: chartreuse;
}